[Unit]
Description=Hotfilm Data Acquisition

[Service]
Type=simple
UMask=0002
Environment=NIDAS=/opt/nidas-dev LD_LIBRARY_PATH=/opt/nidas-dev/lib
WorkingDirectory=/home/daq/hotfilm
# The -l makes sure we get environment settings required to parse the XML.
ExecStart=/bin/bash -l -c "exec $NIDAS/bin/hotfilm --xml hotfilm.xml"

Restart=always
RestartSec=30

[Install]
WantedBy=default.target
